<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
</head>
<body>

    <form action="/process" method="post" enctype="multipart/form-data">
        <label for="resume">Enter resume:</label>
        <input type="file" name="resume" id="resume">
        <br><br>
        <label for="jd">Enter JD:</label>
        <input type="file" name="jd" id="jd">
        <br><br>

        <label for="jd_link">Enter JD link:</label>
        <input type="text" name="jd_link" id="jd_link">
        <br><br>

        <input type="submit" value="Upload">
    </form>


    <div id="result">{{ result }}</div>
</body>
</html>
